
<!-- Background Image & Audio player -->

<div class="site-blocks-cover overlay" [style.background-image]="backgroundImg" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
        <h1>Listen &mdash; On-Air Now</h1>
        <p class="mb-4"><span class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>

        <div id="playerContainer"></div>

      </div>
    </div>
  </div>
</div>

<!--/end image top-->




<!--Programs schedule or popular as you want-->

<div class="pb-5" style="margin-top: -100px;">
  <div class="container-fluid">
    <div class="row no-gutters">

      <!--First program-->
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100" >
        <a href="#" class="unit-9">
          <div class="image" [style.background-image]="firstImgCard"></div>
          <div class="unit-9-content" *ngFor="let card of cardPosts">
            <h2>{{card.firstCardTitle}}</h2>
            <span>{{ card.firstCardTime }}</span>
          </div>
        </a>
      </div>

      <!--Second program-->
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <a href="#" class="unit-9">
          <div class="image" [style.background-image]="secondImgCard"></div>
          <div class="unit-9-content" *ngFor="let card of cardPosts">
            <h2>{{ card.secondCardTitle}}</h2>
            <span>{{ card.secondCardTime }}</span>
          </div>
        </a>
      </div>

      <!--Third program-->
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <a href="#" class="unit-9">
          <div class="image" [style.background-image]="thirdImgCard"></div>
          <div class="unit-9-content" *ngFor="let card of cardPosts">
            <h2>{{ card.thirdCardTitle }}</h2>
            <span>{{ card.thirdCardTime }}</span>
          </div>
        </a>
      </div>

      <!--Fourth program-->
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
        <a href="#" class="unit-9">
          <div class="image" [style.background-image]="fourthImgCard"></div>
          <div class="unit-9-content" *ngFor="let card of cardPosts">
            <h2>{{ card.fourthCardTitle }}</h2>
            <span>{{ card.fourthCardTime }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--/end programs-->


<!--Opinion about us-->

<div class="site-section bg-light block-13">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
        <h2 class="mb-5">Слухачі про нас</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
      </div>
    </div>


    <div class="nonloop-block-13 owl-carousel">

      <div class="text-center p-3 p-md-5 bg-white">
        <div class="mb-4">
          <img [src]="firstPerson | safePipe" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="">
          <h3 class="font-weight-light h5">Name Surname</h3>
          <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
        </div>
      </div>

      <div class="text-center p-3 p-md-5 bg-white">
        <div class="mb-4">
          <img [src]="secondPerson | safePipe" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="">
          <h3 class="font-weight-light h5">Name Surname</h3>
          <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
        </div>
      </div>

      <div class="text-center p-3 p-md-5 bg-white">
        <div class="mb-4">
          <img [src]="thirdPerson | safePipe" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="">
          <h3 class="font-weight-light h5">Name Surname</h3>
          <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
        </div>
      </div>

      <div class="text-center p-3 p-md-5 bg-white">
        <div class="mb-4">
          <img [src]="fourthPerson | safePipe" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="">
          <h3 class="font-weight-light h5">Name Surname</h3>
          <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
        </div>
      </div>

      <div class="text-center p-3 p-md-5 bg-white">
        <div class="mb-4">
          <img [src]="fifthPerson" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="">
          <h3 class="font-weight-light h5">Name Surname</h3>
          <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
        </div>
      </div>

      <div class="text-center p-3 p-md-5 bg-white">
        <div class="mb-4">
          <img [src]="sixthPerson | safePipe" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="">
          <h3 class="font-weight-light h5">Name Surname</h3>
          <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
        </div>
      </div>



    </div>
  </div>
</div>

<!--/end opinions-->

<!--evolution-->

<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
  <h2 class="mb-5 evol-title">Наша історія</h2>
</div>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link link-color-evol" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          -2016
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Це був початок нашої історії адже саме в цьому році наші гімназисти: Загартовський Марко, Костів Анастасія,
        Саєнко Андрій створили проект про гімназійне радіо та подали його на конкурс «Friendly School”.
        <br>
        Та виграли його — завдяки цим людям в нас зараз є радіо в школі.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link link-color-evol collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          -2017
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Другий рік існування - гімназисти: Кисіль Ярина, Горкавенко Катерина, Доброгорська Анна, Мандюк Роксолана почали вести
        ефіри програм. Ми робимо перші проби пера: складаємо графік радіопрограм, пишемо цікаву для гімназистів інформацію,
        яку згодом їм транслюємо.
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link link-color-evol collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          -2018
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Цей рік був захоплюючим. Оскільки наші попередники випустились до команди радіоведучих
        додались ми: Анна Белей та Олег Федорич. Крім того, цього року наша гімназія брала участь у проекті
        присвяченому космосу. Катерина Пашкевич була автором і творцем найрізноманітніших текстів про нашу галактику.
        Гімназисти із радістю її слухали, дізнаваючись щось нове та невідоме для себе.
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link link-color-evol collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          -2019
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        "Radio.LAG" веде активне гімназійне життя. Ми проводимо гімназійні лінійки та ведемо різноманітні радіопередачі.
        Журналісти не стоять на місці: весь час розвиваючись, роблять гімазистів задоволеними свіжою та актуальною інформацією.
        Крім того, команда радіо та гімназійний парламент бере участь у проекті "Healthy school", тож щочетверга ми
        організовуємо всегімназійну руханку.
      </div>
    </div>
  </div>
</div>

<!--/end evolution-->
