<!--top image -->

<div class="site-blocks-cover inner-page-cover overlay" [style.background-image]="backgroundImg" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">

        <h2 class="text-white h1">Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>


<!--programs-->
<div class="site-section">

  <div class="container">

    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
        <h2 class="mb-5">Weekly Radio Program</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
      </div>

    </div>

    <div class="site-block-retro d-block d-md-flex">

      <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
        <div class="image" [style.background-image]="firstProgramImgCard"></div>
        <div class="unit-9-content">
          <h2>Classic Songs For Classic People</h2>
          <span>Friday 1:00pm &mdash; 2:30pm</span>
        </div>
      </a>

      <div class="col2 ml-auto">

        <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
          <div class="image" [style.background-image]="secondProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
          </div>
        </a>

        <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
          <div class="image" [style.background-image]="thirdProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
          </div>
        </a>

      </div>

    </div>


    <div class="site-block-retro d-block d-md-flex" style="margin-top: 50px">

      <div class="col2 ml-auto" style="margin-left:0px !important; margin-right: auto !important;">

        <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
          <div class="image" [style.background-image]="secondProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
          </div>
        </a>

        <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
          <div class="image" [style.background-image]="thirdProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
          </div>
        </a>

      </div>

      <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
        <div class="image" [style.background-image]="firstProgramImgCard"></div>
        <div class="unit-9-content">
          <h2>Classic Songs For Classic People</h2>
          <span>Friday 1:00pm &mdash; 2:30pm</span>
        </div>
      </a>


    </div>





  </div>
</div>




<!--table-->

<!--<footer class="site-footer">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="row">-->
          <!--<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">-->
            <!--<h2 class="mb-5">Розклад програм</h2>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<table style="width:100%; border: 1px solid white;">-->
          <!--<tr>-->

            <!--<th><strong></strong></th>-->
            <!--<th><strong>ПОНЕДІЛОК</strong></th>-->
            <!--<th><strong>ВІВТОРОК</strong></th>-->
            <!--<th><strong>СЕРЕДА</strong></th>-->
            <!--<th><strong>ЧЕТВЕР</strong></th>-->
            <!--<th><strong>П'ЯТНИЦЯ</strong></th>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>8:00 - 8:30</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$100</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>9:15 - 9:25</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>10:10 - 10:20</td>-->
            <!--<td>$100</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>11:05 - 11:25</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>12:10 - 12:25</td>-->
            <!--<td>$100</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>13:10 - 13:25</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>14:10 - 14:20</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
            <!--<td>$50</td>-->
          <!--</tr>-->
        <!--</table>-->


      <!--</div>-->




    <!--</div>-->


  <!--</div>-->
<!--</footer>-->
