<!--top image -->

<div class="site-blocks-cover inner-page-cover overlay" [style.background-image]="backgroundImg" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">

        <h2 class="text-white h1">Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>


<!--programs-->
<div class="site-section">

  <div class="container">

    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
        <h2 class="mb-5">Щотижневі радіоефіри</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
      </div>
    </div>

    <div class="site-block-retro d-block d-md-flex">

      <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
        <div class="image" [style.background-image]="firstProgramImgCard"></div>
        <div class="unit-9-content">
          <h2>ТАТАНЦІ</h2>
          <span>Середа/Четвер 11:10 &mdash; 11:17</span>
        </div>
      </a>

      <div class="col2 ml-auto">

        <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
          <div class="image" [style.background-image]="secondProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Цей день в історії</h2>
            <span>Середа 12:15 &mdash; 12:20</span>
          </div>
        </a>

        <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
          <div class="image" [style.background-image]="thirdProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Гімназійний вісник</h2>
            <span>П'ятнця 11:07 &mdash; 11:10</span>
          </div>
        </a>

      </div>

    </div>


    <!-- <div class="site-block-retro d-block d-md-flex" style="margin-top: 50px">

      <div class="col2 ml-auto" style="margin-left:0px !important; margin-right: auto !important;">

        <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
          <div class="image" [style.background-image]="secondProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
          </div>
        </a>

        <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
          <div class="image" [style.background-image]="thirdProgramImgCard"></div>
          <div class="unit-9-content">
            <h2>Classic Songs For Classic People</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
          </div>
        </a>

      </div>

      <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
        <div class="image" [style.background-image]="firstProgramImgCard"></div>
        <div class="unit-9-content">
          <h2>Classic Songs For Classic People</h2>
          <span>Friday 1:00pm &mdash; 2:30pm</span>
        </div>
      </a>


    </div>
    -->





  </div>
</div>






<!--program table-->
<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
        <h2 class="mb-5">Розклад ефірів</h2>
      </div>
    </div>
  </div>

  <div class="container tableOverflow">

    <table data-aos="fade-up" class="table table-bordered" style="width:100% !important;">
      <thead>
      <tr>
        <th style="text-align: center;"><i class="fas fa-headphones-alt" style="color: white; font-size: 25px; text-align: center;"></i></th>
        <th>ПОНЕДІЛОК</th>
        <th>ВІВТОРОК</th>
        <th>СЕРЕДА</th>
        <th>ЧЕТВЕР</th>
        <th>П'ЯТНИЦЯ</th>
      </tr>
      </thead>
      <tbody *ngFor="let table of tablePosts">
      <tr>
        <!--08:00 - 08:25-->
        <td>08:30 - 08:34</td>
        <td>{{table.Monday_1}}</td>
        <td>{{table.Tuesday_1}}</td>
        <td>{{table.Wednesday_1}}</td>
        <td>{{table.Thursday_1}}</td>
        <td>{{table.Friday_1}}</td>

      </tr>
      <!-- <tr>
        <td>09:20 - 09:25</td>
        <td>{{table.Monday_2}}</td>
        <td>{{table.Tuesday_2}}</td>
        <td>{{table.Wednesday_2}}</td>
        <td>{{table.Thursday_2}}</td>
        <td>{{table.Friday_2}}</td>
      </tr> -->
      <!-- <tr>
        <td>10:10 - 10:20</td>
        <td>{{table.Monday_3}}</td>
        <td>{{table.Tuesday_3}}</td>
        <td>{{table.Wednesday_3}}</td>
        <td>{{table.Thursday_3}}</td>
        <td>{{table.Friday_3}}</td>
      </tr> -->
      <tr>
        <td>11:05 - 11:25</td>
        <td>{{table.Monday_4}}</td>
        <td>{{table.Tuesday_4}}</td>
        <td>{{table.Wednesday_4}}</td>
        <td>{{table.Thursday_4}}</td>
        <td>{{table.Friday_4}}</td>
      </tr>
      <tr>
        <td>12:10 - 12:25</td>
        <td>{{table.Monday_5}}</td>
        <td>{{table.Tuesday_5}}</td>
        <td>{{table.Wednesday_5}}</td>
        <td>{{table.Thursday_5}}</td>
        <td>{{table.Friday_5}}</td>
      </tr>
      <tr>
        <td>13:10 - 13:20</td>
        <td>{{table.Monday_6}}</td>
        <td>{{table.Tuesday_6}}</td>
        <td>{{table.Wednesday_6}}</td>
        <td>{{table.Thursday_6}}</td>
        <td>{{table.Friday_6}}</td>
      </tr>
      <tr>
        <td>14:10 - 14:20</td>
        <td>{{table.Monday_7}}</td>
        <td>{{table.Tuesday_7}}</td>
        <td>{{table.Wednesday_7}}</td>
        <td>{{table.Thursday_7}}</td>
        <td>{{table.Friday_7}}</td>
      </tr>

      </tbody>
    </table>



  </div>
</footer>
