<div class="site-wrap">

  <div class="site-navbar mt-4">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-8 col-md-8 col-lg-4">
          <h1 class="mb-0"><a routerLink="/" class="text-white h2 mb-0"><strong>Radio<span class="text-primary">.</span ><span class="text-primary">LAG</span></strong></a></h1>
        </div>
        <div class="col-4 col-md-4 col-lg-8">
          <nav class="site-navigation text-right text-md-right" role="navigation">

            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><i class="fas fa-bars iconsSize"></i></a></div>

            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/">ГОЛОВНА</a>
              </li>
              <li [routerLinkActive]="['active']"><a routerLink="/team">КОМАНДА</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="/news">НОВИНИ</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="/programs">ЕФІРИ</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="/contacts">КОНТАКТИ</a></li>
              <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a routerLink="/register">REGISTER</a></li>
              <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a class="logcursor" (click)="onLogoutClick()">LOGOUT</a></li>

            </ul>
          </nav>
        </div>


      </div>
    </div>
  </div>
</div>


<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <i class="fas fa-times iconsSize js-menu-toggle"></i>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->
