.site-footer{
  height: -webkit-fill-available;
}

.inptStyle{
  width: -webkit-fill-available;
  text-decoration: none;
  box-shadow: none;
  background-color: #333333;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid white;
  color: orange;
}

.inptStyle:focus, .inptStyle:active {
  border-bottom: 2px solid orange;
  color: orange;
}

.inptStyle::placeholder{
  color: #737373;
}

.labelStyleCustom{
  width: -webkit-fill-available;
  text-align: left;
  margin-top: 30px;
  color: white;
}

.btnRegister{
  float: right;
  margin-top: 20px;
  text-decoration: none;
  background-color: #de9000;
  box-shadow: none;
  border: none;
  padding: 5px 20px;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
}

.btnRegister:hover{
  background-color: #c38208;
  color: white;
  cursor: pointer;
}


.AdminPageMainPart{
  margin-top: 80px;
}

.adminTitleStyle{
  text-align: left;
  font-weight: bold;
  font-size: x-large;
  color: orange;
}

.alertMsg{
  color: red;
  text-align: left;
  margin-bottom: 0px;
}

.form-control{
  border-radius: 0px;
}



